{% for post in posts | reverse %}
  <article
    class="
      card card-compact image-full max-w-sm bg-base-100
      group duration-200 outline outline-2 outline-primary shadow-xl
      hover:z-20 hover:scale-105 hover:rotate-3 hover:outline-8 hover:shadow-2xl
    "
  >
    <figure>
      <img
        class="aspect-[2/1] duration-200 group-hover:blur"
        src="{% img post.data.image, 480 %}"
        alt="Thumbnail"
      />
    </figure>
    <div class="card-body">
      <div>
        {% set date = post.date %}
        {% set updated = post.data.updated %}
        {% include "post/date.njk" %}
      </div>
      <a
        class="
          card-title h-full items-center justify-center text-center
          duration-200 group-hover:-rotate-6 group-hover:scale-110
          group-hover:font-black hover:text-primary
        "
        href="{{ post.url | to_lang(lang) | url }}"
      >
        <h2>{{ post.data.title | lang_string(lang) }}</h2>
      </a>
      <div class="card-actions justify-end text-sm sm:text-md">
        {% set tags = post.data.tags %}
        {% include "post/tags.njk" %}
      </div>
    </div>
  </article>
{% endfor %}