{% for tag in collections.tags %}
  {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
  <a
    class="
      tag btn btn-accent normal-case font-mono
      hover:rotate-6 hover:scale-110
      drop-shadow hover:drop-shadow-xl
    "
    href="{{ tagUrl | url }}"
  >
    #{{ tag }}
  </a>
{% endfor %}