{% for tag in collections.tags | sort %}
  {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
  <a class="tag btn btn-cool btn-secondary" href="{{ tagUrl | url }}">
    #{{ tag }}
  </a>
{% endfor %}