<footer class="footer footer-center pt-16 pb-12 bg-base-300 text-base-content shadow-2xl relative">
  <div class="absolute top-0 flex {# gap-4 sm: #}gap-8 -translate-y-1/2">
    {% for social in footer.socials %}
      <a
        class="
          duration-200 hover:scale-150 hover:-rotate-6 hover:-translate-y-1
          drop-shadow hover:drop-shadow-xl hover:text-{{ social.color }}
        "
        aria-label="{{ social.name }}"
        href="{{ social.url }}"
      >
        <svg
          class="w-8 h-8 fill-current"
          role="img"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>{{ social.name }}</title>
          <path d="{{ social.svg }}" />
        </svg>
      </a>
    {% endfor %}
  </div>
  <div class="grid grid-flow-col sm:gap-8 font-mono font-bold">
    {% for link in footer.links %}
      <a
        class="link link-hover w-16"
        href="{{ link.url | to_lang | url }}"
      >{{ link.name }}</a>
    {% endfor %}
  </div>
  <p>Copyright &copy; 2022 - {{ build.date.getFullYear() }}</p>
</footer>

{# #FIXME
  <a class="hover:text-primary"></a>
  <a class="hover:text-secondary"></a>
  <a class="hover:text-accent"></a>
  <a class="hover:text-info"></a>
  <a class="hover:text-warning"></a>
  <a class="hover:text-error"></a>
#}