<footer class="footer footer-center relative bg-base-300 pt-16 pb-12 text-base-content shadow-2xl">
  <div class="absolute top-0 flex -translate-y-1/2 gap-8 sm:gap-12">
    {% for social in footer.socials %}
      <a
        class="
          duration-200 lg:hover:scale-150 lg:hover:rotate-6 lg:hover:-translate-y-1
          drop-shadow lg:hover:drop-shadow-xl lg:hover:text-{{ social.color }}
        "
        aria-label="{{ social.name }}"
        href="{{ social.url }}"
      >
        <svg
          class="h-8 w-8 fill-current"
          role="img"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>{{ social.name }}</title>
          <path d="{{ social.svg }}" />
        </svg>
      </a>
    {% endfor %}
  </div>
  <div class="grid grid-flow-col font-mono font-bold sm:gap-8">
    {% for link in footer.links %}
      <a
        class="link-hover link w-16"
        href="{{ link.url | to_lang | url }}"
      >{{ link.name }}</a>
    {% endfor %}
  </div>
  <p class="font-serif">Copyright &copy; 2022 - {{ build.date.getFullYear() }}</p>
</footer>

{#
  #FIXME
  <a class="lg:hover:text-primary"></a>
  <a class="lg:hover:text-secondary"></a>
  <a class="lg:hover:text-accent"></a>
  <a class="lg:hover:text-info"></a>
  <a class="lg:hover:text-warning"></a>
  <a class="lg:hover:text-error"></a>
#}
