<header
  class="hero min-h-[20rem] relative"
  style="background-image: url({{ image }});"
>
  <div class="hero-overlay bg-opacity-75"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="my-16">
      <h1 class="font-bold">
        {% if tag %}
          <span class="text-6xl font-mono">#{{ tag }}</span>
        {% else %}
          <span class="text-2xl sm:text-4xl">{{ title }}</span>
        {% endif %}
      </h1>
      {% if description %}
        <p class="mt-4">{{ description }}</p>
      {% endif %}
    </div>
    <div
      class="
        absolute bottom-0 p-2 w-full
        md:flex items-end justify-between gap-4
        text-left sm:text-2xl
      "
    >
      {% if date %}
        <a href="{{ path | url }}">
          {% include "post_date.njk" %}
        </a>
      {% endif %}
      <p class="md:text-right">
        {% include "post_tags.njk" %}
      </p>
    </div>
  </div>
</header>
