<nav class="navbar w-full absolute z-10 justify-center text-neutral-content">
  <a
    class="btn btn-ghost normal-case text-2xl"
    href="{{ '/' | url }}"
  >
    <div>
      <span class="text-sm">NN</span>Blog
    </div>
  </a>
</nav>