<nav class="navbar w-full absolute z-10 justify-center text-neutral-content">
  <a
    class="
      btn btn-ghost normal-case text-2xl
      origin-top hover:translate-y-1 hover:scale-125 hover:rotate-3
      hover:btn-primary hover:shadow-xl
    "
    href="{{ '/' | url }}"
  >
    <div>
      <span class="text-sm">NN</span>Blog
    </div>
  </a>
</nav>