<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ɴɴBlog | {{ title }}</title>
  <link rel="icon" href="https://avatars.githubusercontent.com/u/43980777">
  {% set css %}
    {% include "src/styles/index.css" %}
  {% endset %}
  <style>
    {{css | postcss | safe}}
  </style>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
  <div class="drawer drawer-end">
    <input id="main-drawer" type="checkbox" class="drawer-toggle" />
    <div
      class="drawer-content"
      x-data="{
        scrolled: false,
        handleScroll() {
          this.scrolled = $el.scrollTop > 0
        }
      }"
      x-init="handleScroll()"
      @scroll="handleScroll"
    >
      <div
        class="fixed w-full z-10 duration-200"
        :class="scrolled ? 'bg-blur shadow' : ''"
      >
        {% include "navbar.njk" %}
      </div>
      {{ content | safe }}
      {% include "footer.njk" %}
    </div>
    <div class="drawer-side">
      <label for="main-drawer" class="drawer-overlay"></label>
      <div class="xl:hidden w-80 bg-blur">
        {{ content | toc | safe }}{# #TODO Fix h3.. #}
      </div>
    </div>
  </div>
</body>
</html>
