---
layout: layouts/default.njk
---

<div class="min-h-body bg-base-100 bg-opacity-60 backdrop-blur">
  <header class="hero min-h-[20rem] pt-16 lg:min-h-[24rem]">
    {{ content | safe }}
  </header>
  <div class="flex flex-col pb-24 lg:flex-row">
    <div class="collapse-arrow collapse lg:hidden">
      <input type="checkbox" />
      <div class="collapse-title text-xl font-bold">
        {% if lang == 'vi' %}Danh sách tags{% else %}Tags list{% endif %}
      </div>
      <div class="collapse-content flex flex-wrap justify-end gap-4 pt-4 sm:justify-center">
        {% include "home/tags.njk" %}
      </div>
    </div>
    <div class="mt-8 hidden flex-col items-start justify-start gap-4 px-8 lg:flex">
      {% include "home/tags.njk" %}
    </div>
    <div class="mx-4 flex h-fit flex-wrap justify-center gap-x-4 sm:mx-auto lg:gap-x-8">
      {% set posts = collections[ tag ] or collections.posts %}
      {% include "home/posts.njk" %}
      {% for ghost in "0123456789" %}
        <div class="w-full sm:w-96"></div>
      {% endfor %}
    </div>
  </div>
</div>
