---
layout: layouts/default.njk
---

<div class="min-h-body backdrop-blur bg-base-100 bg-opacity-60">
  <header class="hero pt-16 min-h-[20rem] lg:min-h-[24rem]">
    {{ content | safe }}
  </header>
  <div class="pb-24 flex flex-col lg:flex-row">
    <div class="lg:hidden collapse collapse-arrow">
      <input type="checkbox" />
      <div class="collapse-title text-xl font-bold">
        {% if lang == 'vi' %}Danh sách tags{% else %}Tags list{% endif %}
      </div>
      <div class="collapse-content pt-4 flex flex-wrap justify-end sm:justify-center gap-4">
        {% include "home/tags.njk" %}
      </div>
    </div>
    <div class="mt-8 px-8 hidden lg:flex flex-col items-start justify-start gap-4">
      {% include "home/tags.njk" %}
    </div>
    <div class="mx-4 sm:mx-auto h-fit flex flex-wrap justify-center gap-x-4 lg:gap-x-8">
      {% set posts = collections[ tag ] or collections.posts %}
      {% include "home/posts.njk" %}
      {% for ghost in "0123456789" %}
        <div class="w-full sm:w-96"></div>
      {% endfor %}
    </div>
  </div>
</div>
