---
layout: layouts/default.njk
---

<header
  class="hero min-h-[20rem] relative"
  style="background-image: url({% img image, 240 %});"
>
  <div class="hero-overlay bg-opacity-75 shadow-inner"></div>
  <div class="hero-content text-center">
    <div class="my-16">
      <h1 class="text-2xl sm:text-4xl font-bold">{{ title | langString(lang) }}</h1>
      {% if description %}
        <p class="mt-4 sm:text-lg font-semibold">{{ description | langString(lang) }}</p>
      {% endif %}
    </div>
    <div
      class="
        absolute bottom-0 p-2 w-full
        md:flex items-end justify-between gap-4
        text-left sm:text-2xl
      "
    >
      <a href="{{ path | url }}">
        {% include "post/date.njk" %}
      </a>
      <p class="md:text-right">
        {% include "post/tags.njk" %}
      </p>
    </div>
  </div>
</header>

<div class="min-h-screen flex backdrop-blur-xl">
  <div class="hidden xl:block w-80 bg-base-200 bg-opacity-90">
    <div class="h-fit sticky top-0 max-h-screen overflow-y-auto">
      {{ content | toc | safe }}
    </div>
  </div>
  <div class="w-full bg-base-100 bg-opacity-90">
    <div class="mt-16 mb-24 px-4">
      <main class="prose mx-auto max-w-3xl min-w-0">
        {{ content | safe }}
      </main>
      <div class="mx-auto mt-32 max-w-3xl">
        <script
          src="https://giscus.app/client.js"
          data-repo="NNBnh/blog"
          data-repo-id="R_kgDOImRM7Q"
          data-category="Comments"
          data-category-id="DIC_kwDOImRM7c4CTBWV"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="dark_dimmed"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async
        ></script>
      </div>
    </div>
  </div>
</div>