---
layout: layouts/default.njk
---

{% include "post/header.njk" %}

<div class="min-h-screen flex backdrop-blur-xl">
  <div class="hidden xl:block w-80 bg-base-200 bg-opacity-90">
    <div class="h-fit sticky top-0 max-h-screen overflow-y-auto">
      {{ content | toc | safe }}
    </div>
  </div>
  <div class="w-full bg-base-100 bg-opacity-90">
    <div class="mt-16 mb-24 px-4">
      <main class="prose mx-auto max-w-3xl min-w-0">
        {{ content | safe }}
      </main>
      <div class="mx-auto mt-32 max-w-3xl">
        <script
          src="https://giscus.app/client.js"
          data-repo="NNBnh/blog"
          data-repo-id="R_kgDOImRM7Q"
          data-category="Comments"
          data-category-id="DIC_kwDOImRM7c4CTBWV"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="dark_dimmed"
          data-lang="{{ lang }}"
          data-loading="lazy"
          crossorigin="anonymous"
          async
        ></script>
      </div>
    </div>
  </div>
</div>