---
layout: layouts/home.njk
---

<div class="hero-content text-center font-serif">
  <div class="my-8">
    <a
      class="font-mono text-4xl font-bold duration-200 sm:text-6xl lg:hover:text-accent"
      href="{{ path | url }}"
    ><h1>#{{ tag }}</h1></a>
    {% if description %}
      <p class="mt-4 font-semibold sm:text-lg">{{ description }}</p>
    {% endif %}
  </div>
</div>
