---
layout: layouts/default.njk
image: https://images.unsplash.com/photo-1638793774237-0fd6b45a510f
---

<div
  class="
    min-h-body backdrop-blur bg-base-100 bg-opacity-60
    flex flex-col md:flex-row items-center justify-center gap-16
  "
>
  {% for language_code, language_name in metadata.languages %}
    <a
      class="
        w-80 drop-shadow duration-200 hover:scale-125 hover:rotate-6 hover:text-primary
        text-center text-5xl sm:text-6xl font-serif font-extralight hover:font-bold
      "
      href="{{ '/' | to_lang(language_code) | url }}"
    >{{ language_name }}</a>
  {% endfor %}
</div>
