---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  <url>
    <loc>{{ page.url | url | url(metadata.url) }}</loc>
    <lastmod>{{ page.date.toLocaleDateString('en-GB') }}</lastmod>
  </url>
{%- endfor %}
</urlset>