---
layout: layouts/home.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tags
  addAllPagesToCollections: true
eleventyComputed:
  title: "#{{ tag }}"
  description: "{{ tagsdata[ tag | slugify ].description }}"
  image: "{{ tagsdata[ tag | slugify ].image }}"
permalink: /tags/{{ tag | slugify }}/
---

{% include "header.njk" %}