---
layout: layouts/home.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tags
  addAllPagesToCollections: true
eleventyComputed:
  title: "#{{ tag }}"
  description: "{{ tag_data[ tag | slugify ].description[ 'en' ] }}"
  image: "{{ tag_data[ tag | slugify ].image }}"
permalink: /tags/{{ tag | slugify }}/
---

<div class="hero-content text-center">
  <div class="my-8">
    <a
      class="text-4xl sm:text-6xl font-mono font-bold duration-200 hover:text-accent"
      href="{{ path | url }}"
    ><h1>#{{ tag }}</h1></a>
    {% if description %}
      <p class="mt-4 sm:text-lg font-semibold">{{ description }}</p>
    {% endif %}
  </div>
</div>