<span class="link-mono group-hover:opacity-100">
  <time datetime="{{ date.toISOString() }}">
    {{ date.toLocaleDateString() }}
  </time>
  {% if updated %}
    <p class="inline-block">
      -&gt;
      <time datetime="{{ updated.toISOString() }}">
        {{ updated.toLocaleDateString() }}
      </time>
    </p>
  {% endif %}
</span>